*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-image: url(./img/Candy.png);
        background-origin: border-box;
            background-size: cover;
}
h1{
    font-family:'Lobster', cursive;
        text-align: center;
}
p{
    font-size: 25px;
    font-size:'Lobster', cursive;
    color: crimson;
    text-align-last: center;
    -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
font-size: 3em; color: #fffdd9;

}

.titulo{
    background-color: pink;
        width: 900px;
            height: 60px;              
                border-radius: 10px;
                    opacity: 0.9;
                        margin-left: auto;
                            margin-right: auto;
     
}
.box{
  width: 700px;
  height: 500px;
  border: 5px solid;
  margin: 20px auto;
  border-radius: 10px;
  
    
}
.mover{
 position: relative; left:100px ; top: -50px;

}
.imagem-bolo{
    position:relative;
   
}


