*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 400px;
    background-color: rgb(77, 77, 77);

}

.bolinha {
    width: 200px;
    height: 200px;
    background-color: cyan;
    border-radius: 50%;
    animation: freia-bolinha 0.8s ease-in-out infinite alternate;
}

@keyframes freia-bolinha{
    0%{
        transform: translateX(-550px);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        
    }
}